# More unity friendly gitignore
obj
Temp
*.tmproj
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.userprefs

Library/cache/*
Library/metadata/*
Library/previews/*
Library/ScriptAssemblies/*
Library/ShaderCache/*

AnnotationManager
assetDatabase3
AssetImportState
assetservercachev3
AssetServerCacheV3
AssetVersioning.db
AudioManager.asset
BuildPlayer.prefs
BuildSettings.asset
DynamicsManager.asset
EditorSettings.asset
EditorUserBuildSettings.asset
expandedItems
FailedAssetImports.txt
guidmapper
InspectorExpandedItems.asset
MonoManager.asset
NetworkManager.asset
ScriptMapper

# Anti Os fuckup
#  Mac os (Sucks)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

#  Windows os (Suck a little less)
ehthumbs.db
Thumbs.db
*.ink
desktop.ini